* {
    box-sizing: border-box;
}
body{
    display:flex;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 127, 160);
}

#main{
    max-width: 900px;
    min-width: 300px;
    width:90%;
    margin-top: 5%;
    padding-top: 20px;
    padding-bottom: 30px;
}

#mylocation{
    color:white ;
    text-align: center;
    font-size:14px;
}

#region{
    color:white ;
    text-align: center;
    font-size:30px;
    font-weight:bold;

}

#inputArea{
    display:flex;
    margin-top:20px;
    justify-content: center;
    height:35px;
}

#input{
    width: 70%;
    height:35px;
    border-radius: 5px 0px 0px 5px;
    border:1px solid gray;
    outline:none;
    padding-left: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#searchButton{
    line-height:35px;
    text-align: center;
    height:35px;
    border-radius: 0px 5px 5px 0px;
    border:1px solid gray;
    background-color: greenyellow;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#searchButton:hover{
    background-color: #a0e633;
    transition: background-color 0.3s;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

#displayArea{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#simple{
    min-width: 20%;
    margin-top:10px;
    margin-bottom:5px;
    color:white;
    text-align: center;
}
#currentTemp{
    font-size: 38px;
    padding-top:10px;
}

#highlow{
    display: flex;
    justify-content: space-between;
    padding-left:15%;
    padding-right:15%;
}


#condition{
    padding-bottom:10px;
    color:rgb(182, 209, 243);
} 

#day{
    background-color: rgb(135,192,202);
    width:75%;
    min-width:330px;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 10px;
}

.hour-scroll-container{
    display:flex;
    overflow-x:auto;
    white-space: nowrap;
    padding: 10px;
    gap: 10px;
    scroll-behavior: smooth;
}
.hour-scroll-container::-webkit-scrollbar {
  height: 8px;
}
.hour-scroll-container::-webkit-scrollbar-thumb {
  background-color: rgb(168, 236, 229);
  border-radius: 4px;
}

.hour-card{
  min-width: 100px;
  background: white;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#week{
    background-color: rgb(135,192,202);
    width:75%;
    min-width: 330px;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 10px;
}

.week-day-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin:10px;
}

.week-day-label {
  font-weight: bold;
  font-size: 16px;
}

.weather-info {
  display: flex;
  align-items: center;
  gap: 10px;
}