* {
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
#main{
    width:80%;
    background-color: aqua;
    margin-top: 60px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 30px;
}
#mylocation{
    color:white ;
    text-align: center;
    font-size:14px;
}

#region{
    color:white ;
    text-align: center;
    font-size:25px;
    font-weight:bold;

}

#inputArea{
    display:flex;
    margin-top:20px;
    justify-content: center;
    height:35px;
}

#input{
    width: 70%;
    height:35px;
    border-radius: 5px 0px 0px 5px;
    border:1px solid gray;
    outline:none;
    padding-left: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#searchButton{
    line-height:35px;
    text-align: center;
    width:50px;
    height:35px;
    border-radius: 0px 5px 5px 0px;
    border:1px solid gray;
    background-color: greenyellow;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#searchButton:hover{
    background-color: #a0e633;
    transition: background-color 0.3s;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

#displayArea{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#simple{
    background-color: darkgray;
    width:50%;
    /* height:50px; */
    margin-top:10px;
    margin-bottom:5px;
    color:white;
}
/* #currentTemp{

}

#maxTemp{


}

#minTemp{

}
#condition{

} */

#day{
    background-color: darkgray;
    width:50%;
    /* height:50px; */
    margin-top:5px;
    margin-bottom:5px;
}

.hour-scroll-container{
    display:flex;
    overflow-x:auto;
    white-space: nowrap;
    padding: 10px;
    gap: 10px;
    scroll-behavior: smooth;
}
.hour-scroll-container::-webkit-scrollbar {
  height: 8px;
}
.hour-scroll-container::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.hour-card{
    min-width: 120px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#week{
    background-color: darkgray;
    width:50%;
    /* height:50px; */
    margin-top:5px;
    margin-bottom:5px;
}

.week-day-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin:10px;
}

.week-day-label {
  font-weight: bold;
  font-size: 16px;
}

.weather-info {
  display: flex;
  align-items: center;
  gap: 10px;
}